.mainBlock {
  width: 200px;
  height: 150px;
  border: 2px solid mediumspringgreen;
  border-radius: 5px;
  background-color: grey;
}

.counterBlock {
  font-size: 17px;
  font-weight: bold;
  vertical-align: middle;
  margin: 10px;
  width: 175px;
  height: 75px;
  border-radius: 5px;
  border: 2px solid mediumspringgreen;
  background-color: mediumspringgreen;
}

.valueDisplay {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.buttonBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 175px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid mediumspringgreen;
  background-color: grey;
}

button {
  background-color: mediumspringgreen;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  margin: 3px;
  width: 50px;
  outline: transparent;
}

.red {
  color: red;
  font-size: 60px;
}

input {
  width: 50px;
  text-align: center;
  outline: transparent;
}

.errorInput {
  outline: transparent;
  border: 2px solid red;
  background-color: lightcoral;
}